strong {
    position: absolute;
    left: 214px;
    font-size: 15px;
    color: #000;
}
#details {
    background-color: blue; 
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
span {
    color: #333333;
    font-size: 1em;
    font-weight: normal;
}