@using BazarCamera.Domain.View
@model CameraVm
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Make @Model.Model- $@Model.Price</h2>
<div>
    <img src="@Model.ImageUrl" alt="Alternate Text" />
</div>