#details {
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#edit:hover {
    background-color: white;
    text-decoration:underline;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#edit {
    background-color: #1c5f00;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
h3{
    text-align: center;
}
